@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";

div.allchats {
    width: 100%;
    padding: 0;
    padding-top:10px;
    margin: 0;
    margin-bottom: 60px;
    background-color: $transparent;
    @include centerPositionColumn;
}

div.chat {
    width: 95%;
    height: 60px;
    margin: auto;
    margin-top: 1px;

    div.user_{
        width: 100%;
        height: 60px;
        margin: auto;
        background-color: $transparent;
        &:active{
            background-color: $colorActiveBtn;
        }
    }

    div.user_photo{
        @include roundedBorder(40px, 40px, map-get($borderRadius, medium));
        top:5px;
    }

    p.user_information{
        left: 55px;
        height: 50px;
        width: 270px;
    }
}
