/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
.navInfer {
  display: none;
  position: fixed;
  bottom: 15px;
  width: 100%;
  height: 50px;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .navInfer ul.navbar-menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100%;
    border-radius: 50px;
    margin: auto; }
    .navInfer ul.navbar-menu li {
      display: inline-block;
      text-transform: capitalize; }

.links-footer {
  font-size: 50px;
  margin: 0 25px;
  text-decoration: none; }
  .links-footer :hover {
    color: #1040e2; }

.btnFooter {
  background-color: #ffffff00;
  margin: 0 5px;
  padding-top: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none; }

.iconsFooter {
  width: 30px;
  color: #000 !important; }
  .iconsFooter:active {
    color: #1040e2 !important; }
