* {
  cursor: default;
  outline: none; }

/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON*/
.divBlur {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  backdrop-filter: blur(10px); }

div.contentBoxBlur {
  position: relative;
  width: 300px;
  max-height: 450px;
  background-color: #050505;
  border-radius: 20px;
  /*-webkit-box-shadow: 2px 2px 5px $leftoverBoxDark;
  -moz-box-shadow: 2px 2px 5px $leftoverBoxDark;*/
  border: 1px solid #3f3e3e;
  filter: shadow(color=#101113, direction=135, strength=2);
  padding: 10px;
  margin: auto;
  margin-top: 40px; }
  div.contentBoxBlur div.user_ {
    background-color: #050505;
    height: 80px; }
    div.contentBoxBlur div.user_:active {
      background-color: #050505; }
  div.contentBoxBlur div.user_photo {
    top: 6px; }
  div.contentBoxBlur div.user_information {
    width: 225px;
    bottom: 50px; }

.optionsBox {
  height: 40px;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0 10px;
  color: #fff;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .optionsBox:active {
    background: #000000;
    border: 1px solid #3f3e3e; }
  .optionsBox h4 {
    position: relative;
    bottom: 25px; }
    .optionsBox h4 .iconsOp {
      margin-right: 10px;
      color: #fff !important;
      width: 20px;
      position: relative;
      top: 5px; }

.btnOptions {
  background-color: #ffffff00;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 5px; }

#boxOptionsUserFriendChat {
  display: none; }

#viewPublication {
  display: none; }
