/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON**/
.divSearch {
  padding-top: 5px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.barSearch {
  background-color: #050505;
  margin: 0;
  position: relative;
  bottom: 1px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .barSearch .contenInputMessage {
    padding: 0;
    margin-top: 5px; }
    .barSearch .contenInputMessage .inputMessage {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .barSearch .contenInputMessage .btnPostMessage {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0;
      color: #ffffff !important;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center; }
      .barSearch .contenInputMessage .btnPostMessage .iconsFooter {
        height: 20px;
        color: #ffffff !important; }
        .barSearch .contenInputMessage .btnPostMessage .iconsFooter:active {
          color: #ffffff !important;
          background: #ffffff00; }
      .barSearch .contenInputMessage .btnPostMessage:active {
        background: #003cb4; }

.optionSearch {
  padding: 0; }
  .optionSearch .boxOptionsList {
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }

.options {
  margin: 0 5px;
  position: relative;
  width: 48px;
  height: 35px;
  border-radius: 10px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #050505;
  color: #fff;
  border: 1px solid #000000;
  padding: 2px;
  font-size: 15px; }
  .options:active {
    border: 2px solid #0055ff;
    background-color: rgba(0, 0, 0, 0.465); }
