@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap);

@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";


.register {
    background-color: $transparent;
}

.contenRegister {
    width: 100%;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.bannerLogin,
.bannerSingup {
    width: 100%;
    height: 250px;
    @include notUnderline;
}

.bannerSingup {
    height: 140px;

    .titleLabel{
        font-size: map-get($fontSize, mega );
    }

}

.titleLabel {
    color: $white;
    text-decoration: none;
    font-family: map-get($fontSize, second );
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    top: 20%;
    left: 15px;
}


.contentForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}



.boxInputRegistre {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    input {
        background-color: $transparent;
        width: 80%;
        height: 35px;
        border: none;
        border-bottom: 1px solid $borderGrayLigth;
        margin-top: 5px;
        color: $white;
        font-size: map-get($fontSize, rem_2 );
    }
}

#signup {
    .contentForm{
        margin-top: 50px;
    }

    .boxInputRegistre{
        height: 35px;
    }
}

.boxBtnForm {
    display: flex;
    justify-content: center;
}

.btnOk{
    @include roundedBorder(75%, 50px, map-get($borderRadius, small));
    margin: 10px 0;
    border: map-get($borderRadius, null);
    background: map-get($color, blue_ );
    color: map-get($color, whie_ );
    font-size: map-get($fontSize, rem_2 );

    &:active {
        background: map-get($color, blueD_ );
    }
}

.btnNo {
    @include roundedBorder(75%, 50px, map-get($borderRadius, small));
    margin: 10px 0;
    border: none;
    background: $transparent;
    color: $borderGrayLigth;
    border: 1px solid $borderGrayLigth;
    font-size: map-get($fontSize, rem_2 );

    &:active {
        background-color: $colorActiveBtn;
    }
}

.separationLine {
    @include centerPosition;
    @include notUnderline;

    label {
        color: $white;
        font-size: 15px;
    }

    hr {
        width: 38%;
        height: 1px;
        background-color: $borderGrayLigth;
        border: none;
    }

}

.primary {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.contentText {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;

    p {
        color: $white;
        font-size: 15px;
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
}

.doubleBtnDiv {
    position: relative;
}

