.InteractionPostUserProfile {
  width: 100%;
  height: 35px;
  background-color: map-get($transparent, total_ );
  @include rightPosition;
  margin: 2px 0;
}

.btnInteractionPostUserProfile {
  background-color: map-get($transparent, total_ );
  @include roundedBorder(35px, 35px, map-get($borderRadius, medium));
  margin: 0 3px;
  @include centerPosition;
  border: none;
  svg.icon_ {
    width: 50px;
  }
}
