label.contentIcon {
  display: inline-block;
  margin: 0 3px;
}

svg.icon_ {
  width: 30px;
  float: left;
}

svg.icon_heart {
  color: map-get($color, pink_) !important;
}

svg.icon_noHeart{
  color: map-get($color, black_ )!important;
}

svg.icon_following{
  color: map-get($color, violet_)!important;
}

svg.icon_publication {
  width: 18px;
  color: map-get($color, goldenfizz_) !important;
}


svg.icon_comment{
  color: map-get($color, white_ )!important;
}

svg.icon_save{
  color: map-get($color, blue_ )!important;
}

svg.icon_add {
  color: map-get($color, blue_ )!important;
  width: 30px;
  float: none;
  &:active{
    color: map-get($color, blueD_ )!important;
  }
}

svg.icon_x{
  color: map-get($color, red_ )!important;

  &:active{
    color: map-get($color, redD_ )!important;
  }
}

svg.icon_warning{
  color: map-get($alertMessage, iconWarning )!important;
}

svg.icon_success{
  color: map-get($alertMessage, iconSuccess )!important;
}

svg.icon_message{
  color:map-get($alertMessage, iconMessage )!important;
}

svg.icon_failed{
  color: map-get($alertMessage, iconFailed )!important;
}


svg.icon_file{
  color:$white!important;
}




