



/*NOTE: DO NOT COPY CONTENT*/
@mixin notUnderline{
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*NOTE:CENTER ELEMENTS*/
@mixin centerPosition{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
@mixin centerPositionColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin wrapPosition {
    display: flex;
    flex-wrap: wrap;
   
}

/*NOTE: ROUND EDGES*/
@mixin roundedBorder($width_, $heigth_, $border) {
    width: $width_;
    height: $heigth_;
    border-radius: $border;
}

@mixin roundedBorderMax($width_, $heigth_, $border_) {
    max-width: $width_;
    max-height: $heigth_;
    border-radius: $border_;
}


/*NOTE:BALL MOVEMENT*/
@mixin ballRigth($background_, $webkit, $moz, $animation){
    background: $background_;
    -webkit-animation: right $webkit infinite ease-in-out;
    -moz-animation: right $moz infinite ease-in-out;
    animation: right $animation infinite ease-in-out;
}
@mixin ballLeft($background_, $webkit, $moz, $animation){
    background: $background_;
    -webkit-animation: left $webkit infinite ease-in-out;
    -moz-animation: left $moz infinite ease-in-out;
    animation: left $animation infinite ease-in-out;
}

/*NOTE:SIDE BODY*/
@mixin side($display_, $position_, $top_, $width_, $heigth_, $background_){
    display: $display_;
    position: $position_;
    top: $top_;
    width: $width_;
    height: $heigth_;
    background-color: $background_;
}