$blueLigth: #1040e2;
$blueDark: #133297;
$redLigth: #df1937;
$redDark: #b1162d;

$post:(
    maxWidth: 326px,
    maxHeight: 490px,
    maxCreateWidth: 300px,
    maxCreateHeigth: 450px,
    maxPreviewWidth: 50%,
    maxPreviewHeigth: 300px
);


$loaders:(
    ballcolor: #fff,
    balltrasnform: rotate(90deg)
);


/*NOTE: LOGO COLORS*/
$logo: (
    first: #0fee7e,
    second: #ffff00,
    third: #0037d2,
    fourth: #D20003,
    leftRigthWidth: 12px,
    leftRigthRadius: 6px,
    heigth_: 12px,
    top_:13px,
    fontsize: 30px,
    fontweight: 700
);

/*NOTE:BORDER RADIUS*/
$borderRadius:(
    extrabig: 30px,
    big: 20px,
    medium: 15px,
    small: 10px,    
    null: none
);

/*NOTE: FONT-SIZE*/
$fontSize:(
    rem_2: 19.2px,
    rem_1: 17.6px,
    rem: 16px,
    mega:43px,
    big:20px,
    medium:15px,
    small: 13px

);
/*NOTE: FONT TYPE*/
$fontFamily:(
    first: 'Segoe UI',
    second: 'Azeret Mono'
);

$blurEffect:(
    big: blur(30px),
    small: blur(10px),
    nano: blur(5px)
);

$alertMessage:(
    message: #177bee8f,
    success: #4dee178f,
    failed: #ee1e178f,
    iconmessage: #0f74bc,
    iconsuccess: #3abc0f,
    iconfailed: #bc0f0f
);

$navigation:(
    divexterwidth: 100%,
    divexterheigth:50px,
    divexterbottom: 15px,
    navWidth: 300px,
    navheigth:100%,
    navradius: 50px,
    icons:30px
);

/*NOTE: BACKGROUND*/
$backgroundLeft: #000;
$backgroundRight: #000;
$backgrounBody: #e6e6e6;
$backgroundScroll: #e6e6e6;
$backgroundComponent: #fff;
$backgrounWindow: #fff;
$backgroundFile:  radial-gradient(circle at 0% 0%,
 #b1b1b8 50%, #b1b1b8 66.67%, #8c8ca3 83.33%, #6e6b8f 100%);
//$backgroundNavigation: rgba(255, 255, 255, 0.146);

/*NOTE: TRANSPARENT*/
$transparent:#ffffff00;
$transparentGray: rgba(0, 0, 0, 0.465);




/*NOTE: BORDER*/
$borderBlack: #cccccc;
$boderBlurBox: rgba(0, 0, 0, 0.1);
$borderGrayLigth: #999898;


/*NOTE: TEXT*/
$white: #000;
$lowlowWhite: #333333;
$lowWhite: #191919;


/*NOTE: BUTTON*/
$colorActiveBtn: #b6b3b3;
$btnInteractionPost: #d6d2d2a1;
$colorIconsHeadMenu: #000;
$actionBtnDefaul: #B9b5b5;

$leftoverBoxDark: #7b7b7b;


/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #0d0d0d;
$backgrounBody: #1a1a1a;
$backgroundScroll: #101113;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #000;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/