.contentSearchPost {
    display: flex;
    flex-wrap: wrap;
  
    .postSearchUser {
      background: $backgroundComponent;
      @include roundedBorder(105px, 105px, map-get($borderRadius, medium));
      margin: auto;
      margin-top: 10px;
      padding: 0;
      overflow: hidden;
      @include centerPosition;
      @include notUnderline;
  
      .contentPostSearchUser {
        width: 100%;
        max-height: 200px;
        @include notUnderline;
      }
    }
  }