
.userSearchUser {
    background-color: $backgroundComponent;
    margin: auto;
    margin-top: 5px;
    border: none;
    @include roundedBorder(98%, 110px, map-get($borderRadius, medium));
    .photoUser {
      @include roundedBorder(50px, 50px, map-get($borderRadius, medium));
      position: relative;
      top: 10px;
      left: 5px;
    }
    &:active {
      background: $colorActiveBtn;
    }
  }
  
  .userInfoSearch {
    position: relative;
    left: 60px;
    bottom: 45px;
    width: 280px;
    .contentInfoSearch {
      width: 100%;
      height: 55px;
      p {
        position: relative;
        bottom: 10px;
        font-size: map-get($fontSize, medium);
        width: 100%;
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $lowlowWhite;
      }
    }
  }
  
  .nameUserSearch {
    font-size: map-get($fontSize, rem);
    font-weight: 700;
    color: $white;
  }
  
  .usernameUserSearch {
    font-size: map-get($fontSize, medium);
    font-weight: 500;
    color: $lowlowWhite;
  }
  
  .infoFollowserSearch {
    color: $lowlowWhite;
    font-size: map-get($fontSize, medium);
    position: relative;
    top: 20px;
  
    label {
      display: inline-block;
      margin: 0 3px;
    }
  }
  
  .iconUser {
    width: 15px;
    float: left;
  }
  
  svg.allFollowing {
    color: map-get($logo, fourth) !important;
  }
  
  svg.allpost {
    width: 12px;
    color: map-get($logo, first) !important;
  }
  
  .addUserSearch {
    position: relative;
    bottom: 80px;
    left: 250px;
    background-color: $transparent;
    @include roundedBorder(30px, 30px, 15px);
    @include centerPosition;
  
    .iconUser {
      width: 30px;
      float: none;
    }
  
    button {
      background-color: $transparent;
      text-decoration: none;
      border: none;
      @include roundedBorder(30px, 30px, 15px);
      @include centerPosition;
      color: $blueLigth !important;
  
      &:active {
        color: $white !important;
      }
    }
  }
  