@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";

.divSearch {
  padding-top: 5px;
  @include notUnderline;
}

.barSearch {
  background-color: $backgroundComponent;
  margin: 0;
  position: relative;
  bottom: 1px;
  height: 50px;
  @include centerPosition;
  .contenInputMessage {
    padding: 0;
    margin-top: 5px;

    .inputMessage {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btnPostMessage {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0;
      color: #fff !important;
      overflow: hidden;
      @include centerPosition;

      .iconsFooter {
        height: 20px;
        color: #fff !important;
        &:active {
          color: #fff !important;
          background: $transparent;
        }
      }
      &:active {
        background: $blueDark;
      }
    }
  }
}

.optionSearch {
  padding: 0;
  .boxOptionsList {
    padding: 0;
    height: 40px;
    @include centerPosition;
    width: 100%;
  }
}

.options {
  margin: 0 5px;
  position: relative;
  @include roundedBorder(48px, 35px, map-get($borderRadius, small));
  border: map-get($borderRadius, null);
  text-align: center;
  @include centerPositionColumn;
  background: $backgroundComponent;
  color: $blueLigth;
  border: 1px solid $colorActiveBtn;
  padding: 2px;
  font-size: map-get($fontSize, medium);

  &:active {
    border: 2px solid $blueLigth;
    color: $white;
    background-color: $transparentGray;
  }
}


