<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Web site created using create-react-app" <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Boring</title>
    <!--TITLE:JQUERY INTERACTIVE-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!--TITLE: MAIN--->
    <link rel="stylesheet" href="style/main/main.css"/>
    <link rel="stylesheet"  href="style/main/navigation.css"/>
    <link rel="stylesheet" href="style/main/head.css"/>
    <link rel="stylesheet" href="style/main/options.css"/>
    <link rel="stylesheet" href="style/main/createPublication.css"/>
    <link rel="stylesheet" href="style/main/videoPlayer.css"/>
    <link rel="stylesheet" href="style/main/sound.css"/>
    <link rel="stylesheet" href="style/main/animationLoader.css"/>
    <link rel="stylesheet" href="style/main/alert.css"/>

    <script src="javascript/main/headAndnavigation.js"></script>
    <script src="javascript/main/options.js"></script>
    <script src="javascript/main/videoPlayer.js"></script>
    <script src="javascript/main/sound.js"></script>
    <script src="javascript/main/base64blod.js"></script>

    <!--TITLE: REGISTER--->
    <link rel="stylesheet" href="style/register/register.css"/>
    <script src="javascript/register/register.js"></script>
    

    <!--TITLE: CHAT--->
    <link rel="stylesheet" href="style/chat/chat.css"/>
    <link rel="stylesheet" href="style/chat/contactBook.css"/>

    <!--TITLE: PROFILE--->
    <link rel="stylesheet" href="style/profile/profile.css"/>

    <!--TITLE: PUBLICATION--->
    <link rel="stylesheet" href="style/publication/publication.css"/>
    <link rel="stylesheet" href="style/publication/comment.css"/>
    
    
    
</head>

<body>
    <!--TITLE:HEAD-->
    
    {{>headi}}
    
  

    <!--TITLE:BODY-->
    <div class="contentApp">
        {{{body}}}
        <div class="alert_message">
            {{#if message}}
                <div class="content_message messageAlert">
                    <label class="iconAlert iconidMessageAlert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" 
                                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.5 5h3l-1 10h-1l-1-10zm1.5 14.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/>                    </svg>
                    </label>
                    <p class="textMessage textalertMessage">
                        {{message}}
                    </p>
                    <button class="btnClosrMessage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 
                                12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5 15.538l-3.592-3.548 3.546-3.587-1.416-1.403-3.545 3.589-3.588-3.543-1.405 
                                1.405 3.593 3.552-3.547 3.592 1.405 1.405 3.555-3.596 3.591 3.55 1.403-1.416z" />
                        </svg>
                    </button>
                </div>
            {{/if}}

            {{#if success}}
                <div class="content_message messageSuccess">
                    <label class="iconAlert iconidMessageSuccess">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" 
                                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/>
                    </label>
                    <p class="textMessage textalertMessage">
                        {{success}}
                    </p>
                    <button class="btnClosrMessage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 
                                12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5 15.538l-3.592-3.548 3.546-3.587-1.416-1.403-3.545 3.589-3.588-3.543-1.405 
                                1.405 3.593 3.552-3.547 3.592 1.405 1.405 3.555-3.596 3.591 3.55 1.403-1.416z" />
                        </svg>
                    </button>
                </div>
            {{/if}}

            {{#if failed}}
                <div class="content_message messageFailed">
                    <label class="iconAlert iconidMessageFailed">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" 
                                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/>                </label>
                    <p class="textMessage textalertMessage">
                        {{failed}}
                    </p>
                    <button class="btnClosrMessage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentcolor" 
                            d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 
                                12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5 15.538l-3.592-3.548 3.546-3.587-1.416-1.403-3.545 3.589-3.588-3.543-1.405 
                                1.405 3.593 3.552-3.547 3.592 1.405 1.405 3.555-3.596 3.591 3.55 1.403-1.416z" />
                        </svg>
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
    <!--INTERACION-- {{>animationLoader}}-->
    {{>createPublication}}
    {{>optionsContact}}

    
    <!--TITLE:MENU BOTTOM-->
    
    {{>navigation}}

</body>

</html>