<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Web site created using create-react-app" <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Boring</title>
    <link  rel="icon"  type="image/png" href="favicon.png"/>

    <!--TITLE:JQUERY INTERACTIVE-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!--TITLE: MAIN--->
    <link rel="stylesheet" href="css/main.css"/>

    <script src="javascript/main/headAndnavigation.js"></script>
    <script src="javascript/main/options.js"></script>
    <script src="javascript/main/videoPlayer.js"></script>
    <script src="javascript/main/sound.js"></script>
    <script src="javascript/main/base64blod.js"></script>
    <script src="javascript/register/register.js"></script>
    <script src="javascript/profile/publication.js"></script>
    
    
    
</head>

<body>
    <!--TITLE:HEAD-->
    
    {{>headi}}

    <!--TITLE:BODY-->
    <div class="contentApp">
        {{{body}}}
        
    </div>
    {{>alert}}
    <!--INTERACION-- {{>animationLoader}}-->
    {{>createPublication}}
    {{>previewPublication}}
    {{>optionsContact}}

    
    <!--TITLE:MENU BOTTOM-->
    
    {{>navigation}}

</body>

</html>