<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Web site created using create-react-app" <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Duaui</title>
    <!--TITLE:JQUERY INTERACTIVE-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!--TITLE: MAIN--->
    <link rel="stylesheet" href="style/main/main.css"/>
    <link rel="stylesheet"  href="style/main/navigation.css"/>
    <link rel="stylesheet" href="style/main/head.css"/>
    <link rel="stylesheet" href="style/main/options.css"/>
    <link rel="stylesheet" href="style/main/createPublication.css"/>
    <link rel="stylesheet" href="style/main/videoPlayer.css"/>
    <link rel="stylesheet" href="style/main/animationLoader.css"/>
    <script src="javascript/main/headAndnavigation.js"></script>
    <script src="javascript/main/options.js"></script>
    <script src="javascript/main/videoPlayer.js"></script>

    <!--TITLE: REGISTER--->
    <link rel="stylesheet" href="style/register/register.css"/>
    <script src="javascript/register/register.js"></script>
    

    <!--TITLE: CHAT--->
    <link rel="stylesheet" href="style/chat/chat.css"/>
    <link rel="stylesheet" href="style/chat/contactBook.css"/>

    <!--TITLE: PROFILE--->
    <link rel="stylesheet" href="style/profile/profile.css"/>

    <!--TITLE: PUBLICATION--->
    <link rel="stylesheet" href="style/publication/publication.css"/>
    <link rel="stylesheet" href="style/publication/comment.css"/>
    
    
    
</head>

<body>
    <!--TITLE:HEAD-->
    
    {{>headi}}
    
    <!--TITLE:BODY-->
    <div class="contentApp">
        {{{body}}}
    </div>
    <!--INTERACION-- {{>animationLoader}}-->
    {{>createPublication}}
    

    
    <!--TITLE:MENU BOTTOM-->
    {{>navigation}}

</body>

</html>