

.navInfer {
    display: none;
    position: fixed;
    bottom: map-get($navigation, divexterbottom );
    width: map-get($navigation, divexterwidth );
    height: map-get($navigation, divexterheigth );
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    border-radius: map-get($borderRadius, small );
    border: map-get($borderRadius, null );
    @include notUnderline;

    ul.navbar-menu {
        margin: 0;
        padding: 0;
        @include centerPosition;
        /*backdrop-filter: map-get($blurEffect, big );*/ 
        background-color: $backgroundComponent;
        border: 2px solid $boderBlurBox;
        @include roundedBorder(map-get($navigation, navWidth ), 
        map-get($navigation, navheigth), 
        map-get($navigation, navradius));
        margin: auto;
    
        li {
            display: inline-block;
            text-transform: capitalize;
        }
    }
}

.links-footer {
    font-size: 50px;
    margin: 0 25px;
    text-decoration: none;

    :hover {
        color: map-get($color, blue_ );
    }

}


.btnFooter {
    background-color: map-get($transparent, total_ );;
    margin: 0 5px;
    padding-top: 5px;
    position: relative;
    @include roundedBorder(40px, 40px, map-get($borderRadius, small));
    border: map-get($borderRadius, null);
}

.iconsFooter {
    width: map-get($navigation, icons);
    color: $colorIconsHeadMenu!important;

    &:active {
        color: map-get($color, blue_ )!important;
    }
}
