<div class="comentUser" >
    <div class="photoUser">
        <img class="photo" src="#" />
    </div>
    <div class="divTextsUserPrimary">
        <div class="divTextnameUser">
            <label class="textUserLabel">username</label>
        </div>
        <div class="divTextUser">
            <p class="textUserP">comentario de cualquier usuario</p>
        </div>
    </div>
</div>