<div class="coment">
    <div class="contentPost">
        <Post />
    </div>

    <div class="comentBox">
        <div class="title">
            <h4>Comments</h4>
        </div>

        <!--NOTE:mapa para mostrar los comentar de todos los usurios-->
            <div class="comentUser" key={this.props.id_comment}>
                <div class="photoUser">
                    <img class="photo" src="#" />
                </div>
                <div class="divTextsUserPrimary">
                    <div class="divTextnameUser">
                        <label class="textUserLabel">username</label>
                    </div>
                    <div class="divTextUser">
                        <p class="textUserP">comentario de cualquier usuario</p>
                    </div>
                </div>
            </div>
    </div>

    <div class="boxInput">
        <form onSubmit={this.postUserComment} autocomplete="off">
            <div class="contenInputMessage">
                <input class="inputMessage" rows type="text" name="comment" onChange={this.onChangenComment}
                    placeholder="Comment" />
                <button type="submit" class="btnPostMessage">
                    Post
                </button>
            </div>
        </form>
    </div>
</div>