<div class="post">
    <!--NOTE:crear un mapa que le llegue el contenido de las personas que sigue-->
    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
           <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="fileUser">
            <img src="/iconos/billiecuadra.jpg" class="contentImagen" />
        </div>
    </div>

    <!--------------------------------------------->

    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
          <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments" id="btnCommentPublication">
                <button class="btnInteraction" >
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <img src="/iconos/billiecuadra.jpg" class="contentImagen" />
        </div>
    </div>

    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
            <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <img src="/iconos/green.jpg" class="contentImagen" />
        </div>
    </div>

    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
            <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <img src="/iconos/batman.jpg" class="contentImagen" />
        </div>
    </div>


    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
           <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="fileUser">
            <img src="/iconos/odio.jpg" class="contentImagen" />
        </div>
    </div>

    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
            <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <img src="/iconos/cosmos.jpg" class="contentImagen" />
        </div>
    </div>


    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
            <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <video src="/iconos/navidad.mp4" class="contentVideo" />
        </div>
    </div>

    <div class="contentPost">
        <div class="information">
 
                <Link to="/profile" class="linkdec">
                <div class="photoUser">
                    <img src="#" />
                </div>

                <div class="nameUser">
                    <h4>Isaac Antepara</h4>
                </div>
                <div class="messageUser">
                    <label>I/thisisisaacac</label>
                </div>
            </Link>
           <div class="interactionPost">
                <!--NOTE:LIKES--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="heart" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
                    </svg>
                </button>
                
                <!--NOTE:COMMENTS--->
                <a href="/comments">
                <button class="btnInteraction">
                    <svg class="iconInterac" id="coment" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M.054 23c.971-1.912 2.048-4.538 1.993-6.368-1.308-1.562-2.047-3.575-2.047-5.625 0-5.781 5.662-10.007 12-10.007 6.299 0 12 4.195 12 10.007 0 6.052-6.732 11.705-15.968 9.458-1.678 1.027-5.377 2.065-7.978 2.535z" />
                    </svg>
                </button>
                </a>


                <!--NOTE:SHARE--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="share" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M24 0l-6 22-8.129-7.239 7.802-8.234-10.458 7.227-7.215-1.754 24-12zm-15 16.668v7.332l3.258-4.431-3.258-2.901z" />
                    </svg>
                </button>
                

                <!--NOTE:OPTIONS--->
                <button class="btnInteraction">
                    <svg class="iconInterac" id="points" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="currentcolor"
                            d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="fileUser">
            <video src="/iconos/yo.mp4" class="contentVideo" />
        </div>
    </div>
</div>