* {
    --blueLigth: #1040e2;
    --blueDark: #133297;
    --redLigth: #df1937;
    --redDark: #b1162d;
    --maxHeightContentPost: 400px;
    --borderRadioBig: 30px;
    --borderGrayLigth: #999898;
    --colorBallLoaser: #fff;
    --backgroundFile: radial-gradient(circle at 90.56% 107.92%, #3a4641 0, 
    #394743 3.33%, #384744 6.67%, #374745 10%, #374747 13.33%, 
    #374648 16.67%, #374649 20%, #38464a 23.33%, #38464b 26.67%, 
    #39454c 30%, #3a454d 33.33%, #3c454d 36.67%, #3d444d 40%, 
    #3f444d 43.33%, #40434d 46.67%, #42434d 50%, #44434d 53.33%, 
    #45424c 56.67%, #47424b 60%, #48414a 63.33%, #4a4149 66.67%, 
    #4b4148 70%, #4c4047 73.33%, #4d4045 76.67%, #4e4044 80%, 
    #4e4042 83.33%, #4e4041 86.67%, #4e4040 90%, #4e413f 93.33%,
    #4e413d 96.67%, #4d413c 100%);
    /*----------------------*/
    --white: #fff;
    --lowlowWhite: #b6b6b6;
    --lowWhite: #e7e7e7;
    --backgroundComponent: #050505;
    --colorActiveBtn: #000000;
    --borderBlack: #0d0d0d;
    --backgrounBody: #101113;
    --backgroundScroll: #101113;
    --btnInteractionPost: #070707a1;
    --colorIconsHeadMenu: #fff;
    --backgrounWindow: #000;
    --actionBtnDefaul: #1f1f1f;
    --leftoverBoxDark: #101113;
    --leftoverBoxLigth: #313131;
    /*---------------------------*/
    outline: none;
    cursor: default;
}

.head {
    display: none;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 9998;
    transition: all 0.5s;
}

.content-head {
    background-color: var(--backgroundComponent);
    width: 100%;
    height: 50px;
    margin: 0 auto;
    clear: both;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--borderBlack);
}

.head ul.subContent-head {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.head ul.subContent-head li {
    display: inline-block;
    margin: 0 10px;
}

.links {
    color: var(--white);
    font-size: 23px;
}

.logo-head {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    text-align: center;
}

.logo {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    font-weight: 700;
    font-size: 30px;
    color: var(--white);
    border-left: 2px groove var(--blueLigth);
    border-left-width: 30px;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.divbtnRight {
    display: none;
    float: right;
    position: relative;
    bottom: 45px;
    right: 1px;
}

.divbtnLeft {
    display: none;
    float: left;
    position: relative;
    bottom: 45px;
    left: 1px;
}

.btnHead {
    background-color: var(--transp);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.iconHead {
    color: var(--colorIconsHeadMenu)!important;
    width: 20px;
    height: 20px;
}

.iconHead:active {
    color: var(--white)!important;
}

.LoaderBall {
    width: 75%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: var(--blueLigth);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.positionModeDarkLigth{
    float: right;
    position: relative;
    bottom: 45px;
    right: 1px;
}

.modeDarkLigth{
    color: var(--white)!important;
    width: 20px;
    height: 20px;
}

.modeDarkLigth :active{
    color: var(--borderGrayLigth)!important;
}

#modeMoon{
    display: none;
}


#modeSun{
    display: block;
}
