.video video{
  width: 250px;
  max-height: 250px;
  border-radius: 10px;
}


.overlay .button{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  background: url(../../iconos/videoplayer/videoPlay.svg);
  background-size: 100% 100%;
  transform: translate(-50%, calc(-50% - 30px));
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.ProgressContainer{
  background: var(--tansp);
  height: 20px;
}

.ProgressContainer{
  color: var( --white);
  font-size: 15px;
}

.ProgressContainer .fullTime{
  position: relative;
  bottom: 30px;
  float: right;
}

.ProgressContainer .progressBar {
  width: 150px;
  height: 10px;
  background: var(--borderGrayLigth);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  bottom:15px;
  left: 40px;
}
.ProgressContainer .progressBar:hover + .time {
  opacity: 1;
  transform: translateY(0);
}
.ProgressContainer .progressBar .progress {
  width: 0%;
  height: 100%;
  background: var(--blueLigth);
  border-radius: 20px;
}




.volume {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.volume .icon {
  width: 15px;
  height: 15px;
  background: url(../../iconos/videoplayer/volumeActive.svg);
  background-size: 100% 100%;
  cursor: pointer;
  position: relative;
  bottom: 18px;
  left: 110px;

}
