

.alert_message{
    background: $transparent;
    @include centerPosition;
    @include notUnderline;
    margin: 0 auto;
    padding: 5px;
    position:fixed;
    left: 10%;
    width: 80%;
    top: 60px;
}


div.content_message{
    @include roundedBorder(100%, 50px, 50px);
    @include centerPosition;
    padding: 0 3px;
    overflow: hidden;
    backdrop-filter: map-get($blurEffect, nano );
}

label.iconAlert{
    @include roundedBorder(30px, 30px, map-get($borderRadius, medium));
    @include centerPosition;
}


p.textMessage{
    font-family: map-get($fontFamily, first );
    background: $transparent;
    width: 80%;
    font-weight: 500;
    max-height: 40px;
    margin-left: 1px;
    overflow: hidden;
}

p.textalertMessage{
    color: #fff;
}

div.messageAlert{
    background-color: map-get($alertMessage, message );
}


div.messageSuccess{
    background-color: map-get($alertMessage, success );
}

div.messageFailed{
    background-color: map-get($alertMessage, failed );
}

div.messageWarning{
    background-color: map-get($alertMessage, warning );
}


.btnClosrMessage{
    position: relative;
    padding: 0;
    @include centerPosition;
    @include roundedBorder(30px, 30px, map-get($borderRadius, medium ));
    margin-right: 2px;
    color: $transparentGray!important;
    background-color: $transparent;
    border: map-get($borderRadius, null);
}