@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";

.alert_message{
    background: $transparent;
    @include centerPosition;
    @include notUnderline;
    margin: 0 auto;
    padding: 5px;
    position:fixed;
    left: 10%;
    width: 80%;
    top: 60px;
}


div.content_message{
    @include roundedBorder(100%, 50px, 50px);
    @include centerPosition;
}

label.iconAlert{
    @include centerPosition;
    @include roundedBorder(30px, 30px, map-get($borderRadius, medium));
}


p.textMessage{
    font-family: map-get($fontFamily, first );
    background: $transparent;
    width: 80%;
    font-weight: 700;
    max-height: 40px;
    margin-left: 1px;
}

p.textalertMessage{
    color: #fff;
}

div.messageAlert{
    background-color: map-get($alertMessage, message );
    backdrop-filter: map-get($blurEffect, big );
}

label.iconidMessageAlert{
    color: map-get($alertMessage, iconmessage )!important;
}

div.messageSuccess{
    background-color: map-get($alertMessage, success );
    backdrop-filter: map-get($blurEffect, big );
}

label.iconidMessageSuccess{
    color: map-get($alertMessage, iconsuccess )!important;
}

div.messageFailed{
    background-color: map-get($alertMessage, failed );
    backdrop-filter: map-get($blurEffect, big );
}

label.iconidMessageFailed{
    color: map-get($alertMessage, iconfailed )!important;
}

.btnClosrMessage{
    position: relative;
    padding: 0;
    @include centerPosition;
    @include roundedBorder(30px, 30px, map-get($borderRadius, medium ));
    margin-right: 2px;
    color: $transparentGray!important;
    background-color: $transparent;
    border: map-get($borderRadius, null);
}