

#boxCreatePublication{
    display: none;
}

.boxNewPost {
    padding: 0;
    padding: 15px;
    width: map-get($post, maxWidth );
    display: flex;
    justify-content: center;
    
}


.contentNewPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: map-get($transparent, total_ );
}

.contentTypeFile {
    display: flex;
    position: relative;
    float: left;
    margin-left: 10px;
    bottom: 30px;
}

.fileUpload {
    background: map-get($transparent, total_ );
    width: 40px;
    height: 35px;
    overflow: hidden;
    position: relative;
    @include centerPosition;
    cursor: pointer;
    margin: 0 1px;
    &:hover{
        border-bottom-left-radius: 0;
        border-bottom: 2px solid map-get($color, goldenfizz_ );
    }

    &:active{
        border: none;
        border-radius: map-get($borderRadius, small);
        background-color: $colorActiveBtn;
    }
    input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 148px;
        height: 46px;
        cursor: pointer;
    }
    
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}




.custom-file-upload {
    border: 1px solid $lowlowWhite;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.divBtnUpadateBottom {
    position: relative;
    top: 50%;
}

.btnNewPost {
    border: none;
    background-color: map-get($color, blue_ );
    float: right;
    color: map-get($color, white_ );
    font-size: 20px;
    text-align: center;
    @include roundedBorder(70px, 35px, 20px);
    margin-right: 5px;
    position: relative;
    top: 5px;

    &:active {
        background-color: map-get($color, blueD_ );
    }
}



.divTypeExclusi {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;

    label {
        color: $white;
        margin-left: 5px;
        margin-right: 10px;
        font-size: 16px;
    }

}


.divTypeContent {
    margin-top: 20px;
    @include centerPosition;
}

.optionsTypeContent {
    width: 90%;
    margin-top: 20px;
    margin-left: 14px;
    position: relative;
    background-color: map-get($transparent, total_ );
    border: none;
    color: map-get($color, white_ );
    border-bottom: 1px solid $borderGrayLigth;
    text-transform: capitalize;
    font-size: 16px;
}

.optionsContent {
    background: map-get($transparent, total_ );
    text-decoration: none;
    border: none;
}

.descriptionNewPost {
    textarea {
        background-color: map-get($transparent, total_ );
        margin-left: 10px;
        border: none;
        color: $white;
        width: 90%;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow: auto;
        outline: none;
        box-sizing: border-box;
        resize: none;
        max-height: 76px;
    }
}


.subtitle {
    color: $white;
    width: 80%;
    margin: 10px 0;
    margin-left: 10px;
}

.divClosePublication{
    display: none;
    width: 250px;
    height: 20px;
    position: fixed;
}

.btnClose{
    background-color: map-get($transparent, total_ );
    position: relative;
    bottom: 5px;
    right: 5px;
    float: right;
    font-size: 25px;
    max-width:50px;
    max-height: 50px;
    @include notUnderline;
    color: map-get($color, red_ )!important;

    &:active {
        color: map-get($color, redD_ )!important;
    }
}


#eliminarFileCreatePublication{
    float: left;
    position: relative;
    left: 8px;
    color: map-get($transparent, gray_ )!important;
    &:active{
        color: $white!important;
    }
}


.preview{
    display: none;
    background-image: $backgroundFile;
    max-width:  250px;
    max-height: 250px;
    border-radius: map-get($borderRadius, small);
    margin: auto;
    @include notUnderline;
    @include centerPosition;
    overflow: hidden;

}


.previewFile{
    margin: auto;
    max-width:  250px;
    max-height: 250px;
    border-radius: map-get($borderRadius, small);
    @include notUnderline;
}

.optionViewPreview{
    display: none;
    @include roundedBorder(250px, 20px, 10px);
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    background-color: $white;
}


#viewImagen, #viewVideo{
    display: none;
    max-width: 250px;
    max-height: 250px;
}







