* {
    cursor: default;
    outline: none;
}

div.post, div.viewPostContentuser {
    width: 96%;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.viewPostContentuser{
    margin-top: 0;
}

.userPost {
    margin-top: 20px;
    border-radius: var(--borderRadioBig);
    background-color: var(--transp);
    padding: 0;
    width: var(--maxWidthContentPost);
    max-height: var(--maxHeightContentPost);
    box-shadow: 5px 5px 5px var(--leftoverBoxDark); 
}



.information {
    border-radius: var(--borderRadioBig);
    width: 60%;
    height: 50px;
    border: none;
    background: var(--backgrounNavigation);
    backdrop-filter: blur(3px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    float: left;
    left: 20%;
    position: relative;
    bottom: calc(var(--maxHeightContentPost) - 5px);
}



.information .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 57px;
    color: #fff;
}

.information .messageUser {
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 78px;
    color: #fff;
}

.information .photoUser {
    position: relative;
    top: 5px;
    left: 10px;
}

.linkdec {
    text-decoration: none;
}


.fileUser {
    width: 100%;
    height: var(--maxHeightContentPost);   
    border-radius: var(--borderRadioBig);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--backgroundFile);
    overflow: hidden;
}



.contentImagen, .contentVideo{
    width: 100%;
    /*height: var(--maxHeightContentPost);*/
    /*border-radius: var(--borderRadioBig);*/
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.interactionPost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    border-radius: var(--borderRadioBig);
    background: var(--backgrounNavigation);
    backdrop-filter: blur(5px);
    border: 2px solid var(--boderBlurBox);
    float:right;
    position: relative;
    bottom: 105px;
    right: 25%;
}

.btnInteraction {
    background-color: var(--transp);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.465);*/
    
}

svg.iconInterac {
    color:  #b6b3b3!important;
}



svg.iconLikesPost:active{
    color: rgba(255, 0, 0, 0.59)!important;
}

svg.iconDisLikesPost:active{
    color: rgba(112, 108, 113, 0.59)!important;
}

svg.iconCommentPost:active{
    color: rgba(255, 255, 255, 0.59)!important;
}

svg.iconSavePost:active{
    color: rgba(0, 64, 255, 0.56)!important;
}



