*:focus {
    outline: none;
}
@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";


/*NOTE:VIZUALIZAR EL TIEMPO DEL AUDIO*/
#player-track {
    background-color: $transparent;
    @include roundedBorder(240px, 50px, map-get($borderRadius, small ));
    padding: 0 5px;

    .active {
        top: -92px;
    }
}

#track-name {
    color: $white;
    font-size: 17px;
    text-align: center;
}

#track-time {
    margin-top: 5px;
    height: 20px;
    background-color: $transparent;
    border-radius: 5px;
}

#current-time {
    float: left;
    position: relative;
    bottom: 2px;
}

#track-length {
    float: right;
    position: relative;
    bottom: 10px;
}

#current-time,
#track-length {
    font-size: map-get($fontSize, medium );
    color: $white;
    background-color: $transparent;
    border-radius: map-get($borderRadius, small);
}

#s-area{
    background-color: $white;
    width: 160px;
    position: relative;
    top: 6px;
    left: 40px;
}


#s-area,
#seek-bar {
    border-radius: 3px;
    height: 6px;
}

#seek-bar {
    background-color: $blueLigth;
    transition: 0.2s ease width;
    z-index: 1;
}



/*NOTE:CONTROLLER DE AUIDO*/
#player-content {
    position: relative;
    height: 100%;
    background-image: $backgroundFile;
    border-radius: map-get($borderRadius, medium);
    z-index: 2;
}


#player-controls {
    float: right;
    @include roundedBorder(250px, 40px, map-get($borderRadius, small));
    position: relative;
    background-color: $transparent;
    @include centerPosition;
}

.button {
    @include roundedBorder(30px, 30px, map-get($borderRadius, small));
    background-color: $transparentGray;
    margin: 0 3px;
    margin-bottom: 10px;
    cursor: pointer;
    @include centerPosition;
}

.btnInteractionSound{
    width: 15px;
    height: 15px;
    color: white!important;
}

#playSound{
    display: none;
}

#stopSound{
    display: block;
}




/*NOTE:DISCO GIRATORIO*/


#discSound{
    width: 60px;
    height: 60px;
    color: $colorIconsHeadMenu!important;
}

#album-art {
    
    position: relative;
    top: 10px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-color: $backgroundComponent;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 6px $white;
    border-radius: 50%;
    overflow: hidden;
    @include centerPosition;

    .active {
        box-shadow: 0 0 0 12px $white;
    }

    &:before {
        top: 50%;
        right: 0;
        left: 0;
        @include roundedBorder(15px, 15px, 50%);
        margin: -10px auto 0 auto;
        background-color: #d6dee7;
        box-shadow: inset 0 0 0 2px #fff;
        z-index: 2;
    }

    #discSound {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;

        .active {
            opacity: 1;
            z-index: 1;
        }
    }

}


#album-art.active #discSound.active {
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#album-art{
    display: none;
}

#viewAudio{
    display: none;
}