@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";

.video video{
  width: 250px;
  max-height: 250px;
  border-radius: map-get($borderRadius, small );
}


.controlsVideo{
  display: none;
  width: 250px;
  height: 20px;
  margin: 0;
  padding: 0 4px;
}

.overlay .button{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  background: url(../../iconos/videoplayer/videoPlay.svg);
  background-size: 100% 100%;
  transform: translate(-50%, calc(-50% - 30px));
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.ProgressContainer{
  background: map-get($transparent, total_ );
  height: 20px;
}

.ProgressContainer{
  color: $backgrounBody;
  font-size: map-get($fontSize, medium);

  .fullTime{
    position: relative;
    bottom: 30px;
    float: right;
  }

  .progressBar {
    @include roundedBorder(140px, 10px, map-get($borderRadius, big ));
    background: map-get($transparent, gray_ );;
    cursor: pointer;
    position: relative;
    bottom:14px;
    left: 40px;

    &:hover + .time {
      opacity: 1;
      transform: translateY(0);
    }

    .progress {
      width: 0%;
      height: 100%;
      background: map-get($color, blue_ );
      border-radius: map-get($borderRadius, big );
    }
  }
}


.volume {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  .icon {
    width: 14px;
    height: 14px;
    background: url(../../iconos/videoplayer/volumeActive.svg);
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;
    bottom: 18px;
    left: 100px;
  
  }
}