/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON*/
label.contentIconf {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px; }

svg.icon_ {
  width: 15px;
  float: left; }

svg.icon_heart {
  color: #FFD700 !important; }

svg.icon_publication {
  width: 12px;
  color: #0fee7e !important; }

svg.icon_add {
  width: 30px;
  float: none; }

div.user_ {
  background-color: #050505;
  margin: auto;
  margin-top: 10px;
  border: none;
  width: 98%;
  height: 110px;
  border-radius: 15px; }
  div.user_:active {
    background: #000000; }

div.user_photo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #0fee7e;
  background-color: #b6b6b6;
  position: relative;
  top: 15px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow: hidden; }

img.user_contentPhoto {
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: auto;
  width: 100%; }

div.user_information {
  position: relative;
  width: 250px;
  left: 65px;
  bottom: 40px; }

div.user_contentInformation {
  width: 100%;
  height: 70px; }

label.user_name {
  font-size: 16px;
  font-weight: 700;
  color: #fff; }

label.user_username {
  font-size: 15px;
  font-weight: 500;
  color: #b6b6b6; }

p.user_description {
  position: relative;
  font-size: 15px;
  width: 100%;
  height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b6b6b6;
  margin: 0; }

div.user_informationAccount {
  color: #b6b6b6;
  font-size: 15px;
  position: relative; }

div.user_add {
  position: relative;
  float: right;
  bottom: 115px;
  background-color: #ffffff00;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  div.user_add button {
    background-color: #ffffff00;
    text-decoration: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0055ff !important; }
    div.user_add button:active {
      color: #003cb4 !important; }
