/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON*/
div.allchats {
  width: 100%;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 60px;
  background-color: #ffffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

div.chat {
  width: 100%;
  height: 60px;
  margin: auto;
  margin-top: 5px;
  border: none; }
  div.chat div.user_ {
    width: 100%;
    height: 60px;
    margin: auto; }
  div.chat div.user_photo {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    top: 5px; }
  div.chat p.user_information {
    left: 55px;
    height: 50px;
    width: 270px; }
