/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON*/
.boxFriends {
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.contentFriend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  width: 34%;
  border-radius: 20px;
  border: 1px solid #0d0d0d;
  padding: 0;
  background-color: #050505; }
  .contentFriend:active {
    background-color: #000000; }
  .contentFriend.contentOnePost {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }

.nameFriend {
  margin: 0;
  font-size: 17.6px;
  color: #fff;
  margin-bottom: 3px;
  text-align: center; }

.usernameFriend {
  color: #fff;
  margin-bottom: 5px; }

.photoContact {
  width: 100%;
  margin: 0; }
