/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #3f3e3e;
$backgrounBody: #0e0d0d;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #0e0d0d;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/
.boxFriends {
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.contentFriend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  width: 34%;
  border-radius: 20px;
  border: 1px solid #cccccc;
  padding: 0;
  background-color: #fff; }
  .contentFriend:active {
    background-color: #b6b3b3; }
  .contentFriend.contentOnePost {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }

.nameFriend {
  margin: 0;
  font-size: 17.6px;
  color: #000;
  margin-bottom: 3px;
  text-align: center; }

.usernameFriend {
  color: #000;
  margin-bottom: 5px; }

.photoContact {
  width: 100%;
  margin: 0; }
