


div.user_ {
  background-color: $backgroundComponent;
  margin: auto;
  margin-top: 10px;
  border: none;
  @include roundedBorder(98%, 110px, map-get($borderRadius, medium));
  &:active {
    background: $colorActiveBtn;
  }
}

div.user_photo{
    @include roundedBorder(50px, 50px, map-get($borderRadius, medium));
    border: 2px solid map-get($color, eilish_ );
    background-color: $lowlowWhite;
    position: relative;
    top:15px;
    left:5px;
    @include centerPositionColumn;
    @include notUnderline;
    overflow: hidden;
}

img.user_contentPhoto{
  @include notUnderline;
  margin: auto;
  width: 100%;
}

div.user_information {
  position: relative;
  width: 250px;
  left: 65px;
  bottom: 40px;
}


div.user_contentInformation {
  width: 100%;
  height: 70px;
}

label.user_name {
  font-size: map-get($fontSize, rem);
  font-weight: 700;
  color: $white;
}

label.user_username {
  font-size: map-get($fontSize, medium);
  font-weight: 500;
  color: $lowlowWhite;
}

p.user_description {
  position: relative;
  font-size: map-get($fontSize, medium);
  width: 100%;
  height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $lowlowWhite;
  margin: 0;
}

div.user_informationAccount {
  color: $lowlowWhite;
  font-size: map-get($fontSize, medium);
  position: relative;
}





div.user_add {
  position: relative;
  float: right;
  bottom: 115px;
  background-color: $transparent;
  @include roundedBorder(30px, 30px, 15px);
  @include centerPosition;

  button {
    background-color: $transparent;
    text-decoration: none;
    border: none;
    @include roundedBorder(30px, 30px, 15px);
    @include centerPosition;
    color: map-get($color, blue_ )!important;

    &:active {
      color: map-get($color, blueD_ ) !important;
    }
  }
}




