.allPost {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  @include wrapPosition;
}

.onePost {
  background: $backgroundComponent;
  width: 336px;
  height: auto;
  border-radius: map-get($borderRadius, medium);
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  @include centerPositionColumn;
  @include notUnderline;
  padding: 5px;
}

.contentOnePost {
  max-width: 336px;
  max-height: 336px;
  border-radius: map-get($borderRadius, medium);
  /*margin: auto;*/
  @include notUnderline;
}

.informationPostUser {
  width: 100%;
  max-height: 380px;
  /*margin: auto;*/
  background-color: map-get($transparent, total_);
}

.contentinformationPostUser {
  margin-top: 5px;
  height: auto;
  @include leftPositionColumn;
  label.user_username {
    color: $white;
    font-weight: 700;
    -webkit-transition: 0.5s ease;
    &:hover {
      text-shadow: 0px -2px 0px rgba(0, 0, 0, 1),
        0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
    }
  }

  .user_description {
    white-space: normal;
    overflow: hidden;
    height: 25px;
    width: 100%;
    background-color: map-get($transparent, total_);
    font-size: map-get($fontSize, rem_1);
    //max-height: 345;
  }
}

.textPost{
  background-color: map-get($transparent, total_);
  padding: 0;
  width: 100%;
  height: auto;
  @include leftPositionColumn;
  margin-top: 5px;
}

.readMore{
  color: $white;
  font-size: map-get($fontSize, rem_1);
  background-color: map-get($transparent, total_);
  height: 25px;
  padding: 0;
  margin: 0;

  &:hover{
    color: map-get($color, violet_ );
  }
}
