@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";

.profile {
    width: 100%;
    height: 100%;
    /* background-color: var(--backgroundDark);*/
    @include centerPositionColumn;
}

.infProfile {
    margin-top: 10px;
    @include centerPositionColumn;
    width: 100%;
    border-bottom: 1px solid $borderBlack;
    padding-bottom: 10px;
    @include notUnderline;

    .photoUser {
        @include roundedBorder(90px, 80px, map-get($borderRadius, big ));
        background-image: $backgroundFile;
        @include centerPosition;
        padding: 0;

        .photo {
            width: 100%;
            height: auto;
        }
    }

    

    .btnAddUser {
        position: relative;
        bottom: 10px;
        background-color: $redLigth;
        @include roundedBorder(30px, 30px, 25px);
        border: map-get($borderRadius, null );
        @include centerPositionColumn;

        &:active {
            background-color: $redDark;
        }
    }
}

.iconsProfile {
    width: 20px;
    filter: invert(100%);
}

.informationUser {
    width: 100%;
    /*background-image: var(--backgroundFile);*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: $white;

    h4 {
        margin: 0;
        font-size: map-get($fontSize, big);
    }

    h5 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: map-get($fontSize, small);
    }
}

.postFollowLike {
    margin-top: 10px;
    padding: 0;
}

.listLine {
    margin: 0;
    padding: 0;
    height: 40px;
    padding-top: 5px;
    @include centerPosition;
    color: $white;
    text-align: center;

    .elementList {
        display: inline;
        padding: 5px;
        margin: 5px;
        border-radius: var(--borderRadioBig);
        
        @include centerPosition;
        font-weight: 400;
        height: 30px;
        border-radius: map-get($borderRadius, small );
        @include notUnderline;

        &:active {
            background-color: $backgroundComponent;
        }
    }
}

.optionsSearchPost {
    margin-bottom: 5px;
}
