

.profile {
    width: 100%;
    height: 100%;
    @include centerPositionColumn;
}

.infProfile {
    padding-top:10px; 
    @include centerPositionColumn;
    width: 100%;
    border: none;
    padding-bottom: 10px;
    @include notUnderline;
    background: $backgroundComponent;
    .user_photo {
        @include roundedBorder(80px, 80px, map-get($borderRadius, extrabig ));
        background-image: $backgroundFile;
        margin-bottom: 10px;
        left: 0;
    }

    

    .btnAddUser {
        margin: 5px 0;
        padding: 5px;
        background-color: map-get($color, pink_ );
        @include roundedBorder(auto, 25px, map-get($borderRadius, small));
        border: map-get($borderRadius, null );
        @include centerPositionColumn;
        font-size: map-get($fontSize, rem );
        color: map-get($color, white_ );
        font-weight: 600;

        &:active{
            background-color: map-get($color, eilishD_ );
        }
    }
}

.iconsProfile {
    width: 20px;
    filter: invert(100%);
}

.informationUser {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: $white;
    margin-top: 10px;

    h4 {
        width: 80%;
        overflow: hidden;
        margin: 0;
        font-size: map-get($fontSize, big);
        text-align: center;
    }

    h5 {
        width: 80%;
        overflow: hidden;
        font-size: map-get($fontSize, medium);
        margin: 0;
        text-align: center;
    }

    p {
        margin: 0;
        margin-top: 10px;
        font-size: map-get($fontSize, small);
        width: 80%;
        max-height: 104px;
        text-align: justify;
        height: auto;
        overflow: hidden;
        overflow:scroll;
        overflow-x:hidden;
    }
}

.postFollowLike {
    margin-top: 10px;
    padding: 0;
}

ul.listLine {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 40px;
 
    @include centerPosition;
    color: $white;
    text-align: center;

    li.elementList {
        display: inline;
        margin: 0 5px;      
        @include centerPosition;
        text-align: center;
        padding: 5px;
        font-weight: 500;
        @include roundedBorderMax(auto,40px,map-get($borderRadius, small ));
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        @include notUnderline;
        &:hover {
            border-bottom: 2px solid map-get($color, eilish_ );
        }

        &:active{
            border-bottom-left-radius: map-get($borderRadius, small );
            border-bottom-right-radius: map-get($borderRadius, small );
            border: none;
            background: $colorActiveBtn;
        }

        label{
            @include centerPositionColumn;
            .user_icon{
                width: 15px;
                margin: 0;
                padding: 0;
                position: relative;
            }
            svg.user_iconPost{
                width: 12px;
                color: map-get($logo, first )!important;
            }
    
            svg.user_iconFollowing{
                width: 25px;
                color: map-get($logo, fourth )!important;
            }
    
            svg.user_iconHeart{
                color: map-get($logo, second )!important;
            }
        }

       
    }
}

.optionsSearchPost {
    background: $backgroundComponent;
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
    border-bottom-left-radius: map-get($borderRadius, medium );
    border-bottom-right-radius: map-get($borderRadius, medium );
    border-bottom: 1px solid $borderBlack;

    .listLine{
        @include centerPosition;
        height: 50px;
    }

}


.btnFilesUser {
    margin: 0 5px;
    margin-top: 10px;
    position: relative;
    @include roundedBorder(60px, 50px, map-get($borderRadius, small));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: map-get($borderRadius, null);
    text-align: center;
    @include centerPositionColumn;
    background-color: map-get($transparent, total_ );
    color: $white;
    font-weight: 700;

    &:hover {
        border-bottom: 2px solid map-get($color, yelow_ );
    }

    &:active {
        background: $colorActiveBtn;
    }

    svg.icon_file{
        width: 30px;
        margin-bottom: 5px;
    }
}
