<div class="allchats">
    <!--NOTE:CREAR UN MAPA PARA QUE MUESTRE TODOS LOS CHATS-->
    <div class="chat">
        <div class="contentChat">

            <a href="/options-chat">
                <div class="photoUser">
                    <img src="#" />
                </div>
            </a>
            <div class="divTextsUserPrimary">
                <div class="divTextnameUser">
                    <label class="textNameUser">Isaac Antepara</label>
                </div>
                <div class="divTextUser">
                    <p class="textUserP">hola, como estas?</p>
                </div>
            </div>
        </div>
    </div>

</div>