<div className="allchats">
    <!--NOTE:CREAR UN MAPA PARA QUE MUESTRE TODOS LOS CHATS-->
    <div className="chat">
        <div className="contentChat">

            <a href="/options-chat">
                <div className="photoUser">
                    <img src="#" />
                </div>
            </a>
            <div className="divTextsUserPrimary">
                <div className="divTextnameUser">
                    <label className="textNameUser">Isaac Antepara</label>
                </div>
                <div className="divTextUser">
                    <p className="textUserP">hola, como estas?</p>
                </div>
            </div>
        </div>
    </div>

</div>