<div class="allchats">
    <!--NOTE:CREAR UN MAPA PARA QUE MUESTRE TODOS LOS CHATS-->
    <div class="chat">
        <div class="contentChat">
            <div class="photoUser" id="userFriendPhoto">
                <!--<img src="/iconos/isaac.jpg" />-->
                photo
            </div>
            <div class="divTextsUserPrimary">
                <div class="divTextnameUser">
                    <label class="textNameUser">Isaac Antepara</label>
                </div>
                <div class="divTextUser">
                    <p class="textUserP">hola, como estas?</p>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------>


    <div class="chat">
        <div class="contentChat">
            <div class="photoUser" id="userFriendPhoto">
                <!--<img src="/iconos/isaac.jpg" />-->
                photo
            </div>
            <div class="divTextsUserPrimary">
                <div class="divTextnameUser">
                    <label class="textNameUser">Isaac Antepara</label>
                </div>
                <div class="divTextUser">
                    <p class="textUserP">hola, como estas?</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="chat">
        <div class="contentChat">
            <div class="photoUser" id="userFriendPhoto">
                <!--<img src="/iconos/isaac.jpg" />-->
                photo
            </div>
            <div class="divTextsUserPrimary">
                <div class="divTextnameUser">
                    <label class="textNameUser">Isaac Antepara</label>
                </div>
                <div class="divTextUser">
                    <p class="textUserP">hola, como estas?</p>
                </div>
            </div>
        </div>
    </div>

</div>