<div class="boxFriends">
    <div class="contentFriend">

        <div class="nameFriend">
            <label>Isaac Antepara</label>
        </div>

        <div class="contactfriend">
            <!--<img class="photoContact" src="#" } />-->
            photofriend
        </div>

        <div class="usernameFriend">
            <label>thisisisaacantepara</label>
        </div>

    </div>
</div>