<div className="boxFriends">
    <div className="contentFriend">

        <div className="nameFriend">
            <label>Isaac Antepara</label>
        </div>

        <div className="contactfriend">
            <img class="photoContact" src="#" } />
        </div>

        <div className="usernameFriend">
            <label>I/thisisisaacac</label>
        </div>

    </div>
</div>