<div class="boxFriends">
    <div class="contentFriend">

        <div class="nameFriend">
            <label>Isaac Antepara</label>
        </div>

        <div class="contactfriend">
            <img class="photoContact" src="#" } />
        </div>

        <div class="usernameFriend">
            <label>I/thisisisaacac</label>
        </div>

    </div>
</div>