/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #3f3e3e;
$backgrounBody: #0e0d0d;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #0e0d0d;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/
.allPost {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; }

.onePost {
  background: #fff;
  width: 20%;
  height: auto;
  border-radius: 15px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 5px; }

.contentOnePost {
  max-width: 90%;
  max-height: 336px;
  border-radius: 15px;
  /*margin: auto;*/
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.informationPostUser {
  width: 100%;
  max-height: 380px;
  /*margin: auto;*/
  background-color: #ffffff00; }

.contentinformationPostUser {
  margin-top: 5px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column; }
  .contentinformationPostUser label.user_username {
    color: #000;
    font-weight: 700;
    -webkit-transition: 0.5s ease; }
    .contentinformationPostUser label.user_username:hover {
      text-shadow: 0px -2px 0px black, 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5); }
  .contentinformationPostUser .user_description {
    white-space: normal;
    overflow: hidden;
    height: 25px;
    width: 100%;
    background-color: #ffffff00;
    font-size: 17.6px; }

.textPost {
  background-color: #ffffff00;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; }

.readMore {
  color: #000;
  font-size: 17.6px;
  background-color: #ffffff00;
  height: 25px;
  padding: 0;
  margin: 0; }
  .readMore:hover {
    color: #6849fb; }
