/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #3f3e3e;
$backgrounBody: #0e0d0d;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #0e0d0d;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/
.allPost {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; }

.onePost {
  background: #fff;
  width: 28%;
  height: 105px;
  border-radius: 15px;
  max-height: 200px;
  margin: auto;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .onePost:active {
    background: #ffffff00;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 10%;
    width: 100%;
    height: 100%;
    transform: scale(1.2); }

.contentOnePost {
  width: 100%;
  max-height: 200px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .contentOnePost:active {
    transition-duration: 0.4s;
    position: fixed;
    bottom: 25%;
    left: 25%;
    max-width: 50%;
    max-height: 300px;
    transform: scale(1.2);
    border-radius: 10px; }
