/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON**/
.profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.infProfile {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: none;
  padding-bottom: 10px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: #050505; }
  .infProfile .user_photo {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    background-image: radial-gradient(circle at 0% 0%, #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
    margin-bottom: 10px;
    left: 0; }
  .infProfile .btnAddUser {
    margin: 5px 0;
    padding: 5px;
    background-color: #Fb4958;
    width: auto;
    height: 25px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600; }
    .infProfile .btnAddUser:active {
      background-color: #0cbe65; }

.iconsProfile {
  width: 20px;
  filter: invert(100%); }

.informationUser {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: #fff;
  margin-top: 10px; }
  .informationUser h4 {
    width: 80%;
    overflow: hidden;
    margin: 0;
    font-size: 20px;
    text-align: center; }
  .informationUser h5 {
    width: 80%;
    overflow: hidden;
    font-size: 15px;
    margin: 0;
    text-align: center; }
  .informationUser p {
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
    width: 80%;
    max-height: 104px;
    text-align: justify;
    height: auto;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden; }

.postFollowLike {
  margin-top: 10px;
  padding: 0; }

ul.listLine {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center; }
  ul.listLine li.elementList {
    display: inline;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    max-width: auto;
    max-height: 40px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }
    ul.listLine li.elementList:hover {
      border-bottom: 2px solid #0fee7e; }
    ul.listLine li.elementList:active {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      background: #000000; }
    ul.listLine li.elementList label {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      ul.listLine li.elementList label .user_icon {
        width: 15px;
        margin: 0;
        padding: 0;
        position: relative; }
      ul.listLine li.elementList label svg.user_iconPost {
        width: 12px;
        color: #0fee7e !important; }
      ul.listLine li.elementList label svg.user_iconFollowing {
        width: 25px;
        color: #8c0fee !important; }
      ul.listLine li.elementList label svg.user_iconHeart {
        color: #ffff00 !important; }

.optionsSearchPost {
  background: #050505;
  width: 100%;
  height: 60px;
  padding-bottom: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 1px solid #3f3e3e; }
  .optionsSearchPost .listLine {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; }

.btnFilesUser {
  margin: 0 5px;
  margin-top: 10px;
  position: relative;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff00;
  color: #fff;
  font-weight: 700; }
  .btnFilesUser:hover {
    border-bottom: 2px solid; }
  .btnFilesUser:active {
    background: #000000; }
  .btnFilesUser svg.icon_file {
    width: 30px;
    margin-bottom: 5px; }
