<div class="register">
    <div class="primary">
        <div class="contentPrimary">
            <div class="contentText">
                <label class="titleLabel">Duaui<br /></label>
                <p> imformacion sobre de que trata la pagina</p>
            </div>

            <div class="doubleBtnDiv">
                <a class="link" href="/login">
                    <div class="boxBtnForm">
                        <button type="submit" class="btnOk">
                            Login
                        </button>
                    </div>
                </a>

                <a class="link" href="/sign-up">
                    <div class="boxBtnForm">
                        <button class="btnNo">
                            Sign up
                        </button>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>