<div className="register">
    <div className="primary">
        <div className="contentPrimary">
            <div className="contentText">
                <label className="titleLabel">Duaui<br /></label>
                <p> imformacion sobre de que trata la pagina</p>
            </div>

            <div className="doubleBtnDiv">
                <a className="link" href="/login">
                    <div className="boxBtnForm">
                        <button type="submit" className="btnOk">
                            Login
                        </button>
                    </div>
                </a>

                <a className="link" href="/sign-up">
                    <div className="boxBtnForm">
                        <button className="btnNo">
                            Sign up
                        </button>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>