<div class="register">
    <div class="primary">
        <div class="contentPrimary">
            <div class="contentText">
                <div class="contentIlogo">
                    <div class="logoInf">
                        <div class="logoITop"><!----></div>
                        <div class="logoIBottom"><!----></div>
                    </div>
                    <div>
                        <label class="logoILetter">
                            Boring
                        </label>
                    </div>
                </div>
                <!--<p>la verdad no tengo ni idea de lo que estoy haciendo solo es por diversion</p>-->
            </div>

            <div class="doubleBtnDiv">
                <a class="link" href="/login">
                    <div class="boxBtnForm">
                        <button type="submit" class="btnOk">
                            Login
                        </button>
                    </div>
                </a>

                <a class="link" href="/sign-up">
                    <div class="boxBtnForm">
                        <button class="btnNo">
                            Sign up
                        </button>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>