<div class="register">
    <div class="contenRegister"  id="login">
        <div class="bannerLogin">
            <label class="titleLabel">Welcome Back To Duaui</label>
        </div>
        <div class="contentForm">

            <form action="/login" method="post">
                <div class="boxInputRegistre">
                    <input type="text" name="username" placeholder="Username" autoFocus />
                </div>
                <div class="boxInputRegistre">
                    <input type="password" name="password" placeholder="Password" />
                </div>
                <div class="boxBtnForm">
                    <button type="submit" class="btnOk" id="btnLogin">
                        Login
                    </button>
                    <div class="LoaderBall" id="loginBallLoader">
                        {{>animationLoader}}
                    </div>
                </div>
            </form>

            <div class="separationLine">
                <hr />
                <label>or</label>
                <hr />
            </div>

            <a class="link" href="/sign-up">
                <div class="boxBtnForm">
                    <button class="btnNo" type="submit">
                        Sign up
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>