<div className="register">
    <div className="contenRegister">
        <div className="bannerSingup">
            <label className="titleLabel">Create<br />Account</label>
        </div>
        <div className="contentForm">
            <form action="/sign-up" method="post">

                <div className="boxInputRegistre">
                    <input type="text" name="fullname" autoFocus placeholder="Fullname" />
                </div>

                <div className="boxInputRegistre">
                    <input type="text" name="username" placeholder="Username" />
                </div>

                <div className="boxInputRegistre">
                    <input type="email" name="email" placeholder="Email" />
                </div>

                <div className="boxInputRegistre">
                    <input type="password" name="password" placeholder="Password" />
                </div>

                <div className="boxInputRegistre">
                    <input type="password" name="repeatpassword" placeholder="Repeat password" />
                </div>

                <div className="boxBtnForm">
                    <button type="submit" className="btnOk">
                        Sign up
                    </button>
                </div>

            </form>

            <div className="separationLine">
                <hr />
                <label>or</label>
                <hr />
            </div>

            <a className="link" href="/login">
                <div className="boxBtnForm">
                    <button className="btnNo">
                        Login
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>