<div class="register">
    <div class="contenRegister" id="signup">
        <div class="bannerSingup">
            <label class="titleLabel">Create <br/>Account In Boring</label>
        </div>
        <div class="contentForm">
            <form action="/sign-up" method="post" >

                <div class="boxInputRegistre">
                    <input type="text" name="fullname" autoFocus placeholder="Fullname" />
                </div>

                <div class="boxInputRegistre">
                    <input type="text" name="username" placeholder="Username" />
                </div>

                <div class="boxInputRegistre">
                    <input type="email" name="email" placeholder="Email" />
                </div>

                <div class="boxInputRegistre">
                    <input type="password" name="password" placeholder="Password" />
                </div>

                <div class="boxInputRegistre">
                    <input type="password" name="repeatpassword" placeholder="Repeat password" />
                </div>

                <div class="boxBtnForm">
                    <button type="submit" class="btnOk" id="btnSingup">
                        Sign up
                    </button>
                    <div class="LoaderBall" id="signupBallLoader">
                        {{>animationLoader}}
                    </div>
                </div>

            </form>

            <div class="separationLine">
                <hr />
                <label>or</label>
                <hr />
            </div>

            <a class="link" href="/login">
                <div class="boxBtnForm">
                    <button class="btnNo">
                        Login
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>