<div class="head" id="headi">
    <div class="content-head">
        <div class="logo">
            <div class="logoTop"><!----></div>
            <div class="logoBottom"><!----></div>
        </div>
        
        <div class="logo-head">
            <label class="logo-letter">
                Boring
            </label>
        </div>
    </div>
    <a>
        <div class="divbtnLeft">
            <button class="btnHead">
                <svg class="iconHead" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                </svg>
            </button>
        </div>
    </a>

    <a>
        <div class="divbtnRight">
            <button class="btnHead">
                <svg class="iconHead" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z" />
                </svg>
            </button>
        </div>
    </a>
    <div class="positionModeDarkLigth" id="modeMoon">
        <button class="btnHead">
            <svg class="modeDarkLigth" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentcolor"
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 4c-4.418 0-8 3.582-8 8s3.582 8 8 8v-16z"/>
            </svg>
        </button>
    </div>

    <div class="positionModeDarkLigth" id="modeSun">
        <button class="btnHead">
            <svg class="modeDarkLigth" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path  fill="currentcolor"
                    d="M22.088 13.126l1.912-1.126-1.912-1.126c-1.021-.602-1.372-1.91-.788-2.942l1.093-1.932-2.22-.02c-1.185-.01-2.143-.968-2.153-2.153l-.02-2.219-1.932 1.093c-1.031.583-2.34.233-2.941-.788l-1.127-1.913-1.127 1.913c-.602 1.021-1.91 1.372-2.941.788l-1.932-1.093-.02 2.219c-.01 1.185-.968 2.143-2.153 2.153l-2.22.02 1.093 1.932c.584 1.032.233 2.34-.788 2.942l-1.912 1.126 1.912 1.126c1.021.602 1.372 1.91.788 2.942l-1.093 1.932 2.22.02c1.185.01 2.143.968 2.153 2.153l.02 2.219 1.932-1.093c1.031-.583 2.34-.233 2.941.788l1.127 1.913 1.127-1.913c.602-1.021 1.91-1.372 2.941-.788l1.932 1.093.02-2.219c.011-1.185.969-2.143 2.153-2.153l2.22-.02-1.093-1.932c-.584-1.031-.234-2.34.788-2.942zm-10.117 6.874c-4.411 0-8-3.589-8-8s3.588-8 8-8 8 3.589 8 8-3.589 8-8 8zm.029-2c-3.313 0-6-2.687-6-6s2.687-6 6-6v12z"/>
            </svg>
        </button>
    </div>
    
</div>