<div class="head" id="headi">
    <div class="content-head">
        <div class="logo-head">
            <label class="logo">
                DUAUI
            </label>
        </div>
    </div>
    <a>
        <div class="divbtnLeft">
            <button class="btnHead">
                <svg class="iconHead" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                </svg>
            </button>
        </div>
    </a>

    <a>
        <div class="divbtnRight">
            <button class="btnHead">
                <svg class="iconHead" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z" />
                </svg>
            </button>
        </div>
    </a>
</div>