
    <div class="contentBoxBlur" id="boxOptionsUserFriendChat">
        <label class="btnClose" id="windowOptionUserFriendChat">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentcolor"
                d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 
                12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5 15.538l-3.592-3.548 3.546-3.587-1.416-1.403-3.545 3.589-3.588-3.543-1.405 
                1.405 3.593 3.552-3.547 3.592 1.405 1.405 3.555-3.596 3.591 3.55 1.403-1.416z"/>
            </svg>
        </label>

        <div class="user_">
            <div class="user_photo">
                <img src="/iconos/monkey.png" class="user_contentPhoto"/>
            </div>
            <div class="user_information">
                <div class="user_contentInformation">
                   <label class="user_name">Isaac Antepara{{id}}</label></br>
                <label class="user_username">@thisisisaacac{{id}}</label>
                <p class="user_description">Invented, transformed, created and destroyed 💻💛</p>
                </div>
            </div>
        </div>
 

        <div class="optionsBox">
            <h4>
                <svg class="iconsOp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor"
                        d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z" />
                </svg>
                Call
            </h4>
        </div>

        <div class="optionsBox">
            <h4>
                <svg class="iconsOp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor"
                        d="M16 16c0 1.104-.896 2-2 2h-12c-1.104 0-2-.896-2-2v-8c0-1.104.896-2 2-2h12c1.104 0 2 .896 2 2v8zm8-10l-6 4.223v3.554l6 4.223v-12z" />
                </svg>
                Video call
            </h4>
        </div>

        <div class="optionsBox">
            <h4>
                <svg class="iconsOp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor"
                        d="M5 4h-3v-1h3v1zm19 1v16h-24v-16h24zm-16 3h-5v2h5v-2zm12 5c0-2.209-1.791-4-4-4s-4 1.791-4 4 1.791 4 4 4 4-1.791 4-4zm-4-2c-1.103 0-2 .897-2 2s.897 2 2 2 2-.897 2-2-.897-2-2-2z" />
                </svg>
                Camera
            </h4>
        </div>


        <div class="optionsBox" type="file">
            <h4>
                <svg class="iconsOp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentcolor" d="M11 5c-1.629 0-2.305-1.058-4-3h-7v20h24v-17h-13z" />
                </svg>
                Send file
            </h4>
        </div>

    </div>
