* {
    cursor: default;
    outline: none;
}


/* para que el contenido de pc aparexaca en el centro
.contentApp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

div.post, div.viewPostContentuser {
    width: 96%;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.viewPostContentuser{
    margin-top: 0;
}

.userPost {
    margin-top: 20px;
    border-radius: var(--borderRadioBig);
    background-color: var(--transp);
    padding: 0;
    min-height: 400px;
    max-height: var(--maxHeightContentPost);
    box-shadow: 5px 5px 5px var(--leftoverBoxDark); 
}



.information {
    /*background-color: var(--backgroundComponent);*/
    /*border-top-left-radius: var(--borderRadioBig);
    border-top-right-radius: var(--borderRadioBig);*/
    border-radius: var(--borderRadioBig);
    width: 60%;
    height: 50px;
    border: none;
    /*background-color: rgba(0, 0, 0, 0.514);*/
    /*background-color: var(--transp);*/
    background: var(--backgrounNavigation);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.1);
    float: left;
    left: 20%;
    position: relative;
    bottom: 395px;
}



.information .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 57px;
    color: #fff;
}

.information .messageUser {
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 78px;
    color: #fff;
}

.information .photoUser {
    position: relative;
    top: 5px;
    left: 10px;
}

.linkdec {
    text-decoration: none;
}


.fileUser {
    width: 100%;
    height: var(--maxHeightContentPost);
    border-radius: var(--borderRadioBig);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--backgroundFile);
    overflow: hidden;
}



.contentImagen {
    width: 100%;
    height: var(--maxHeightContentPost);
    border-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.contentVideo{
    width: 100%;
    height: var(--maxHeightContentPost);
    border-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.interactionPost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 40px;
    border-radius: var(--borderRadioBig);
    background: var(--backgrounNavigation);
    backdrop-filter: blur(5px);
    border: 2px solid var(--boderBlurBox);
    float:right;
    position: relative;
    bottom: 105px;
    right: 27%;
}

.btnInteraction {
    background-color: var(--transp);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.465);*/
    
}

svg.iconInterac {
    color:  #b6b3b3!important;
}
svg.iconLikesPost:active{
    color: rgba(255, 0, 0, 0.59)!important;
}

svg.iconCommentPost:active{
    color: rgba(112, 108, 113, 0.59)!important;
}

svg.iconSavePost:active{
    color: rgba(0, 64, 255, 0.56)!important;
}



