* {
    cursor: default;
    outline: none;
}


/* para que el contenido de pc aparexaca en el centro
.contentApp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

.post {
    width: 96%;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 10px;
}

.contentPost {
    margin-top: 10px;
    border-radius: var(--borderRadioBig);
}



.information {
    background-color: var(--backgroundComponent);
    border-top-left-radius: var(--borderRadioBig);
    border-top-right-radius: var(--borderRadioBig);
    border: 1px solid var(--borderRadioBig);
    width: 100%;
    height: 50px;

}

.information .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 57px;
    color: var(--white);
}

.information .messageUser {
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 78px;
    color: var(--lowlowWhite);
}

.information .photoUser {
    position: relative;
    top: 5px;
    left: 10px;
}

.linkdec {
    text-decoration: none;
}


/*.information .divTextsUserPrimary{
    left: 55px;
}*/

.fileUser {
    width: 100%;
    max-height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 90.56% 107.92%, #3a4641 0, 
    #394743 3.33%, #384744 6.67%, #374745 10%, #374747 13.33%, 
    #374648 16.67%, #374649 20%, #38464a 23.33%, #38464b 26.67%, 
    #39454c 30%, #3a454d 33.33%, #3c454d 36.67%, #3d444d 40%, 
    #3f444d 43.33%, #40434d 46.67%, #42434d 50%, #44434d 53.33%, 
    #45424c 56.67%, #47424b 60%, #48414a 63.33%, #4a4149 66.67%, 
    #4b4148 70%, #4c4047 73.33%, #4d4045 76.67%, #4e4044 80%, 
    #4e4042 83.33%, #4e4041 86.67%, #4e4040 90%, #4e413f 93.33%,
     #4e413d 96.67%, #4d413c 100%);
}



.fileUser .contentImagen {
    width: 100%;
    max-height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.contentVideo{
    width: 100%;
    height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.interactionPost {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 11%;
    height: 150px;
    position: relative;
    left: 89%;
    border-radius: var(--borderRadioBig);
    padding-top: 10px;
}

.btnInteraction {
    background-color: var(--transp);
    width: 40px;
    height: 30px;
    border: none;
    margin-bottom: 5px;
}

.iconInterac {
    color: var(--btnInteractionPost) !important;
}

#heart:active {
    color: #f32b19!important;
}

#coment:active {
    color: #1cc88a!important;
}

#share:active {
    color: #2d5ff5!important;
}

#points:active {
    color: white!important;
}