* {
    cursor: default;
    outline: none;
}


/* para que el contenido de pc aparexaca en el centro
.contentApp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

.post {
    width: 96%;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 10px;
}

.contentPost {
    margin-top: 10px;
    border-radius: var(--borderRadioBig);
}



.information {
    background-color: var(--backgroundComponent);
    border-top-left-radius: var(--borderRadioBig);
    border-top-right-radius: var(--borderRadioBig);
    border: 1px solid var(--borderRadioBig);
    width: 100%;
    height: 50px;

}

.information .nameUser {
    margin: 0;
    padding: 0;
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 57px;
    color: var(--white);
}

.information .messageUser {
    width: 250px;
    position: relative;
    left: 55px;
    bottom: 78px;
    color: var(--lowlowWhite);
}

.information .photoUser {
    position: relative;
    top: 5px;
    left: 10px;
}

.linkdec {
    text-decoration: none;
}


/*.information .divTextsUserPrimary{
    left: 55px;
}*/

.fileUser {
    width: 100%;
    max-height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--backgroundFile);
}



.fileUser .contentImagen {
    width: 100%;
    max-height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.contentVideo{
    width: 100%;
    height: var(--maxHeightContentPost);
    border-bottom-left-radius: var(--borderRadioBig);
    border-bottom-right-radius: var(--borderRadioBig);
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.interactionPost {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 11%;
    height: 150px;
    position: relative;
    left: 89%;
    border-radius: var(--borderRadioBig);
    padding-top: 10px;
}

.btnInteraction {
    background-color: var(--transp);
    width: 40px;
    height: 30px;
    border: none;
    margin-bottom: 5px;
}

.iconInterac {
    color: var(--btnInteractionPost) !important;
}

#heart:active {
    color: #f32b19!important;
}

#coment:active {
    color: #1cc88a!important;
}

#share:active {
    color: #2d5ff5!important;
}

#points:active {
    color: white!important;
}