<div class="profile">
    <div class="infProfile" background={bhoriz}>
        <div class="photoUser">
            <img class="photo" src="#" />

        </div>

        <button class="btnAddUser">
            <!--NOTE:PONER EN EL SRC IMAGEN DE UN ICONO DE + -->
            <img class="iconsProfile" src="#" />
        </button>


        <div class="informationUser">
            <h4>
                I/thisisisaacac
            </h4>
            <h5>
                Isaac Antepara
            </h5>
            <p>Sabes quien soy</p>
            <div class="postFollowLike">
                <ul class="listLine">
                    <li class="elementList">
                        Post 732
                    </li>
                    <li class="elementList">
                        followings 732k
                    </li>
                    <li class="elementList">
                        likes 732k
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!---NOTE:MENU DE CONTENIDO DEL USUARIO -->
    <div class="postProfile">
        <div class="optionsSearchPost">
            <ul class="listLine">
                <li class="elementList">
                    Photos
                </li>
                <li class="elementList">
                    Videos
                </li>
                <li class="elementList">
                    Sounds
                </li>
                <li class="elementList">
                    files
                </li>
            </ul>
        </div>
        <!--NOTE: TODOS LOS POST POR EL MOMENTO SOLO IMAGENES-->
        <div class="allPost">
            <!--NOTE:hacer un mapa que contenga todos los post del user-->
           <div class="onePost">
                <img class="contentOnePost" src="#"} />
            </div>

        </div>
    </div>

</div>