<div className="profile">
    <div className="infProfile" background={bhoriz}>
        <div className="photoUser">
            <img className="photo" src="#" />

        </div>

        <button className="btnAddUser">
            <!--NOTE:PONER EN EL SRC IMAGEN DE UN ICONO DE + -->
            <img className="iconsProfile" src="#" />
        </button>


        <div className="informationUser">
            <h4>
                I/thisisisaacac
            </h4>
            <h5>
                Isaac Antepara
            </h5>
            <p>Sabes quien soy</p>
            <div className="postFollowLike">
                <ul className="listLine">
                    <li className="elementList">
                        Post 732
                    </li>
                    <li className="elementList">
                        followings 732k
                    </li>
                    <li className="elementList">
                        likes 732k
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!---NOTE:MENU DE CONTENIDO DEL USUARIO -->
    <div className="postProfile">
        <div className="optionsSearchPost">
            <ul className="listLine">
                <li className="elementList">
                    Photos
                </li>
                <li className="elementList">
                    Videos
                </li>
                <li className="elementList">
                    Sounds
                </li>
                <li className="elementList">
                    files
                </li>
            </ul>
        </div>
        <!--NOTE: TODOS LOS POST POR EL MOMENTO SOLO IMAGENES-->
        <div className="allPost">
            <!--NOTE:hacer un mapa que contenga todos los post del user-->
           <div className="onePost">
                <img class="contentOnePost" src="#"} />
            </div>

        </div>
    </div>

</div>