*:focus {
  outline: none; }

/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: TRANSPARENT*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #3f3e3e;
$backgrounBody: #0e0d0d;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #0e0d0d;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/
/*NOTE:VIZUALIZAR EL TIEMPO DEL AUDIO*/
#player-track {
  background-color: #ffffff00;
  width: 240px;
  height: 50px;
  border-radius: 10px;
  padding: 0 5px; }
  #player-track .active {
    top: -92px; }

#track-name {
  color: #000;
  font-size: 17px;
  text-align: center; }

#track-time {
  margin-top: 5px;
  height: 20px;
  background-color: #ffffff00;
  border-radius: 5px; }

#current-time {
  float: left;
  position: relative;
  bottom: 2px; }

#track-length {
  float: right;
  position: relative;
  bottom: 10px; }

#current-time,
#track-length {
  font-size: 15px;
  color: #000;
  background-color: #ffffff00;
  border-radius: 10px; }

#s-area {
  background-color: #000;
  width: 160px;
  position: relative;
  top: 6px;
  left: 40px; }

#s-area,
#seek-bar {
  border-radius: 3px;
  height: 6px; }

#seek-bar {
  background-color: #0055ff;
  transition: 0.2s ease width;
  z-index: 1; }

/*NOTE:CONTROLLER DE AUIDO*/
#player-content {
  position: relative;
  height: 100%;
  background-image: radial-gradient(circle at 0% 0%, #b1b1b8 50%, #b1b1b8 66.67%, #8c8ca3 83.33%, #6e6b8f 100%);
  border-radius: 15px;
  z-index: 2; }

#player-controls {
  float: right;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  background-color: #ffffff00;
  display: flex;
  align-items: center;
  justify-content: center; }

.button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.465);
  margin: 0 3px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.btnInteractionSound {
  width: 15px;
  height: 15px;
  color: white !important; }

#playSound {
  display: none; }

#stopSound {
  display: block; }

/*NOTE:DISCO GIRATORIO*/
#discSound {
  width: 60px;
  height: 60px;
  color: #000 !important; }

#album-art {
  position: relative;
  top: 10px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 6px #000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  #album-art .active {
    box-shadow: 0 0 0 12px #000; }
  #album-art:before {
    top: 50%;
    right: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2; }
  #album-art #discSound {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1; }
    #album-art #discSound .active {
      opacity: 1;
      z-index: 1; }

#album-art.active #discSound.active {
  z-index: 1;
  animation: rotateAlbumArt 3s linear 0s infinite forwards; }

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }

#album-art {
  display: none; }

#viewAudio {
  display: none; }
