

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgrounBody;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    @include roundedBorder(2px, 2px, 50px);
    background-color: $backgroundScroll;
}

::-webkit-scrollbar-track {
    border-radius: map-get($borderRadius, small );
    background-color: #20212400;
}

::-webkit-scrollbar-thumb {
    border-radius:  map-get($borderRadius, small );
    background-color: $blueLigth;
}

.content-Center {
    margin-left: 20%;
    margin-top: 70px;
    width: 60%;
}

.content-Left {
    @include side(block, fixed, 70px, 20%, 100%, $backgroundLeft);
}

.content-Right {
    left: 80%;
    @include side(block, fixed, 70px, 20%, 100%, $backgroundRight);
}

.contentApp {
    margin: 0;
    margin-top: 50px;
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .content-Left {
        display: none;
        width: 100%;
    }
    .content-Right {
        left: 0;
        display: none;
        width: 100%;
    }
    .content-Center {
        margin-left: 0;
        width: 100%;
    }
}