@import "../abstracts/mixis.scss";
@import "../abstracts/variables.scss";


.boxFriends {
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contentFriend {
    @include centerPositionColumn;
    margin: auto;
    margin-top: 15px;
    width: 34%;
    border-radius: map-get($borderRadius, big);
    border: 1px solid $borderBlack;
    padding: 0;
    background-color: $backgroundComponent;

    &:active {
        background-color: $colorActiveBtn;
    }

    &.contentOnePost {
        border-bottom-left-radius: map-get($borderRadius, extrabig);
        border-bottom-right-radius: map-get($borderRadius, extrabig);
    }
}


.nameFriend {
    margin: 0;
    font-size: map-get($fontSize, rem_1 );
    color: $white;
    margin-bottom: 3px;
    text-align: center;
}

.usernameFriend {
    color: $white;
    margin-bottom: 5px;
}

.photoContact {
    width: 100%;
    margin: 0;
}