@import url(https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap);
* {
    cursor: default;
    outline: none;
}


.register {
    background-color: var(--transp);
}

.contenRegister {
    width: 100%;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.bannerLogin,
.bannerSingup {
    width: 100%;
    height: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.bannerSingup {
    height: 140px;
}

.titleLabel {
    color: var(--white);
    text-decoration: none;
    font-family: 'Azeret Mono', monospace;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    position: relative;
    top: 20%;
    left: 15px;
}

.bannerSingup .titleLabel{
    font-size: 43px;
}



.contentForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color: var(--backgroundDark);*/
    /*background-color: transparent;*/
}

#signup .contentForm{
    margin-top: 50px;
}

.boxInputRegistre {
    /*background-color: var(--backgroundDark);*/
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.boxInputRegistre input {
    background-color: var(--transp);
    width: 80%;
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--borderGrayLigth);
    margin-top: 5px;
    color: var(--blueLigth);
    font-size: 1.2rem;
}

#signup .boxInputRegistre{
    height: 35px;
}

.boxBtnForm {
    display: flex;
    justify-content: center;
}

.btnOk,
.btnNo {
    width: 75%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: var(--blueLigth);
    color: white;
    font-size: 1.2rem;
}

.btnOk:active {
    background-color: var(--blueDark);
}

.btnNo {
    width: 75%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: var(--tranps);
    color: var(--borderGrayLigth);
    border: 1px solid var(--borderGrayLigth);
    font-size: 1.2rem;
}

.btnNo:active {
    background-color: var(--colorActiveBtn);
}

.separationLine {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.separationLine label {
    color: var(--white);
    font-size: 15px;
}

.separationLine hr {
    width: 38%;
    height: 1px;
    background-color: var(--borderGrayLigth);
    border: none;

}

.primary {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.contentText {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
}

.contentText p {
    color: var(--white);
    font-size: 15px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.doubleBtnDiv {
    position: relative;
}


.logoInf{
    text-decoration: none;
    float: left;
    position: relative;
    bottom: 10px;
}

.logoInf .logoITop{
    border-left: 2px solid #0fee7e;
    border-right: 2px solid #ffff00;
    border-right-width: 20px;
    border-left-width: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 20px;
    position: relative;
    top: 15px;
    animation-name: logoAnimatioTop;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}



.logoInf .logoIBottom{
    border-left: 2px solid #1c1bec;
    border-right: 2px solid  #ec1c1c;
    border-right-width: 20px;
    border-left-width: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;
    position: relative;
    top: 15px;
    animation-name: logoAnimatioBottom;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes logoAnimatioTop {
    50%{ border-left: 2px solid #ec1c1c;
        border-right: 2px solid #1c1bec;
        border-left-width: 20px;
        border-right-width: 20px;
    }

}

@keyframes logoAnimatioBottom {
    50%{border-left: 2px solid #ffff00;
        border-left-width: 20px;
        border-right: 2px solid  #0fee7e;
        border-right-width: 20px;
    }



}




.logoILetter {
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    font-weight: 700;
    font-size: 50px;
    color: var(--white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.contentIlogo{
    display: none;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 300px;
    border-radius: 30px;
}