<div class="divSearch">
  <div class="barSearch">
    <div class="contenInputMessage">
      <input
        class="inputMessage"
        rows
        type="text"
        name="search"
        placeholder="Search..."
      />
      <button type="submit" class="btnPostMessage">
        <svg
          class="iconsFooter"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentcolor"
            d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="optionSearch">
    <div class="boxOptionsList">
      <ul class="listLine">
        <button class="options">
          All
        </button>
        <!--NOTE:Post-->
        <button class="options">
          User
        </button>
        <!---TE:User-->
        <button class="options">
          Photo
        </button>

        <button class="options">
          Video
        </button>

        <button class="options">
          Sound
        </button>

        <button class="options">
          File
        </button>
      </ul>
    </div>
  </div>

  <div class="contentSearch">
    <!--NOTE:hacer un mapa que contenga todos los post del user-->
    <!--
    <div class="contentSearchPost">
      {{#each content}}
        <div class="postSearchUser">
          <img src={{decFile file_content}} class="contentPostSearchUser" />
        </div>
      {{/each}}
    </div>
    -->
    {{#each content}}
    <div class="user_">
        <div class="user_photo">
            <img src="/iconos/monkey.png" class="user_contentPhoto"/>
        </div>
        <div class="user_information">
            <div class="user_contentInformation">
                <label class="user_name">Isaac Antepara{{id}}</label></br>
                <label class="user_username">@thisisisaacac{{id}}</label>
                <p class="user_description">Invented, transformed, created and destroyed 💻💛</p>
                <div class="user_informationAccount">
                <label class="contentIcon">
                 <svg class="icon_ icon_heart"  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path fill="currentcolor"
                        d="M 17.828125 2.328125 C 14.570312 2.328125 12.503906 5.957031 12.015625 5.957031 C 11.585938 5.957031 9.605469 2.328125 6.203125 2.328125 C 2.890625 2.328125 0.1875 5.058594 0.0117188 8.363281 C -0.0898438 10.230469 0.511719 11.652344 1.363281 12.9375 C 3.054688 15.511719 10.46875 21.703125 12.027344 21.703125 C 13.617188 21.703125 20.960938 15.535156 22.667969 12.9375 C 23.519531 11.644531 24.117188 10.230469 24.019531 8.363281 C 23.839844 5.058594 21.140625 2.328125 17.828125 2.328125 "/>
                  </svg>
                  1000
                </label>
                <label class="contentIcon">
                  <svg class="icon_ icon_publication"  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path fill="currentcolor"
                      d="M6 6h-6v-6h6v6zm9-6h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6zm-18 9h-6v6h6v-6zm9 0h-6v6h6v-6zm9 0h-6v6h6v-6z"/>
                  </svg>
                  5000
                </label>
            </div>
            </div>
        </div>
         <div class="user_add">
              <button>
                <svg class="icon_ icon_add" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24">
                  <path fill="currentcolor"
                      d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/>
                </svg>
              </button>
            </div>
    </div>
    {{/each}}
  
  </div>

</div>