<div class="search">
    <div>
        <input type="search">
    </div>

    <div class="contentSearch">

            <!--NOTE:hacer un mapa que contenga todos los post del user-->
            {{#each content}}
                <div class="onePost" id="previewPublication">
                    <img src={{decFile file_content}} class="contentOnePost" />
                </div>
            {{/each}}

    </div>

</div>