/*NOTE: DO NOT COPY CONTENT*/
/*NOTE:CENTER ELEMENTS*/
/*NOTE: PLACE ELEMENTS IN CENTERED COLUMANS*/
/*NOTE: ROUND EDGES*/
/*NOTE:BALL MOVEMENT*/
/*NOTE:SIDE BODY*/
/*NOTE: LOGO COLORS*/
/*NOTE:BORDER RADIUS*/
/*NOTE: FONT-SIZE*/
/*NOTE: FONT TYPE*/
/*NOTE: BACKGROUND*/
/*NOTE: BORDER*/
/*NOTE: TEXT*/
/*NOTE: BUTTON*/
/*MOON
$white: #fff;
$lowlowWhite: #b6b6b6;
$lowWhite: #e7e7e7;
$backgroundComponent: #050505;
$colorActiveBtn: #000000;
$borderBlack: #3f3e3e;
$backgrounBody: #0e0d0d;
$btnInteractionPost: #070707a1;
$colorIconsHeadMenu: #fff;
$backgrounWindow: #0e0d0d;
$actionBtnDefaul: #1f1f1f;
$leftoverBoxDark: #101113;
$boderBlurBox: rgba(255, 255, 255, 0.1);
$backgroundFile:  radial-gradient(circle at 0% 0%, 
    #313130 50%, #222127 66.67%, #15131e 83.33%, #080016 100%);
$backgroundNavigation: rgba(0, 0, 0, 0.68);
*/
.coment {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .coment .post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .coment .contentComent {
    margin: 0;
    padding: 0;
    width: 100%; }

.comentBox {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: #fff;
  border: none; }
  .comentBox .title {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .comentBox .title h4 {
      color: #000; }

.comentUser {
  width: 100%;
  height: 55px;
  margin-bottom: 10px; }
  .comentUser .photoUser {
    position: relative;
    bottom: 10px;
    left: 10px;
    width: 30px;
    height: 30px; }
  .comentUser .photo {
    width: 30px;
    height: 30px; }
  .comentUser .divTextsUserPrimary {
    width: 85%; }
  .comentUser .divTextsUserPrimary .textUserLabel {
    font-size: 13px;
    font-weight: bold; }
  .comentUser .divTextsUserPrimary .textUserP {
    font-size: 13px;
    text-overflow: ellipsis; }

.boxInput {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  border: none; }

.contenInputMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0; }

.textareMessage,
.inputMessage {
  width: 74%;
  border: none;
  border-radius: 30px;
  padding: 0 10px;
  font-size: 16px;
  font-family: "Segoe UI";
  border: 2px solid #0055ff;
  background-color: #b6b3b3;
  color: #000; }

.inputMessage {
  height: 30px; }

.textareMessage {
  resize: none;
  height: 26px;
  padding-top: 5px; }

.btnPostMessage {
  margin: 0;
  width: 15%;
  height: 35px;
  border-radius: 30px;
  margin-left: 5px;
  background-color: #0055ff;
  color: #ffffff;
  border: none;
  font-size: 17.6px; }
  .btnPostMessage :active {
    background-color: #003cb4; }
